---
layout: default
title: "Home"
permalink: index.html
---
<h2>Pages</h2>
<ul>
  {% for page in site.html_pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
<h2>Latest Blog Posts</h2>
<ul>
  {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a><br>
      <small>{{ post.date }}</small>
    </li>
  {% endfor %}
</ul>
<p><a href="/blog.html">More posts</a></p>
<h2>About Me</h2>
<p>I am the Head of Technology at Breakthrough Media where I run the team of
software developers and digital project managers. Our focus is primarily LAMP
stack based technology, however over the past year I have helped the team move
away from WordPress and jQuery development to more general development.</p>
<p>The team now works with a wide variety of technology including Vue.js,
vanilla JavaScript, PHP frameworks such as Laravel and Symfony, and Python. In
addition to this we are beginning to work on data projects based around Tableau
and other visualisation tools. We have also begun to introduce agile based
methodologies, such as stand ups, retrospectives and tech talks to improve
communication and innovation.</p>
<p>Prior to Breakthrough Media I worked as a freelance software developer for a
number of agencies including BBH, Wolff Olins, WTG and WebCredible. The work
ranged from private to public sector and focused on areas such as digital
marketing and web development. Along with this I have run my own business which
found success in 2012-13 when I released a social media analytics app, that has
been used by over 1 million people, and then sold part of my business.</p>
<p>I have strong communication skills, having regularly presented talks in both
business and public settings. In addition while at WebCredible I spent four
years running their HTML and CSS training courses.</p>
<p><a href="/cv.html">Read More</a></p>
<p><a href="/cv.pdf">Download My CV</a></p>
<h2>Contact Me</h2>
<p>Twitter: <a href="https://twitter.com/RobDWaller" target="_blank">@RobDWaller</a><p>
<p>Email: rdwaller1984@gmail.com</p>
