---
layout: default
title: "RobDWaller Blog and Profile"
permalink: index.html
tags: [development, php, javascript, code]
description: "Rob Waller Software Developer Blog and Profile"
---
<h1>Latest Posts</h1>
{% for post in site.posts limit:10 %}
  <div class="post-snippet">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p>{{ post.description }}</p>
    <small>
      <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
      <span class="tags">
        {% for tag in post.tags %}
          {% if forloop.last %}
              #{{ tag }}
          {% else %}
              #{{ tag }}
          {% endif %}
        {% endfor %}
      </span>
    </small>
  </div>
{% endfor %}
<p><a href="/blog.html">More posts</a></p>
