---
layout: default
---
<h2>Pages</h2>
<ul>
  {% for page in site.html_pages %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
<h2>Latest Blog Posts</h2>
<ul>
  {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a><br>
      <small>{{ post.date }}</small>
    </li>
  {% endfor %}
</ul>
<p><a href="/blog.html">More posts</a></p>
<h2>About Me</h2>

<h2>Contact Me</h2>
<p>Twitter: <a href="https://twitter.com/RobDWaller" target="_blank">@RobDWaller</a><p>
<p>Email: rdwaller1984@gmail.com</p>
