---
layout: default
permalink: talks.html
title: "Talks"
description: "A list of conference talks written by Rob Waller on software development and the tech industry."
---
<h1>{{ page.title}}</h1>
<p>{{ page.description }}</p>
{% for talk in site.talks %}
  <div class="post-snippet">
    <h3><a href="{{ talk.url }}">{{ talk.title }}</a></h3>
    <p>{{ talk.description }}</p>
    {% if talk.slides != null %}
      <small><a href="{{talk.slides}}" target="_blank">View the slides</a></small>
    {% endif %}
    <small>
      <span class="tags">
        {% for tag in talk.tags %}
          {% if forloop.last %}
              #{{ tag }}
          {% else %}
              #{{ tag }}
          {% endif %}
        {% endfor %}
      </span>
    </small>
  </div>
{% endfor %}
