---
layout: default
permalink: talks.html
title: "Rob Waller Conference Talks"
description: "A list of conference talks written by Rob Waller on software development and tech management"
---
<h1>{{ page.title}}</h1>
<p>{{ page.description }}</p>
<ul>
  {% for talk in site.talks %}
    <li>
      <a href="{{ talk.url }}">{{ talk.title }}</a><br/>
      {{talk.description}}<br/>
      {% if talk.slides != null %}
        <a href="{{talk.slides}}" target="_blank">View the slides</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
