<header>
    <a href="/"><img src="/assets/svg/logo.svg" loading="lazy" alt="Wllr:Tech, Rob Waller Website and Blog" /></a>
    <ul class="menu" id="menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/blog.html">Blog</a>
        </li>
        <li>
            <a href="/about.html">About</a>
        </li>
        <li>
            <a href="/videos.html">Videos</a>
        </li>
        <li>
            <a href="/talks.html">Talks</a>
        </li>
    </ul>
    <div class="hamburger" id="hamburger">
        <div class="hamburger__line hamburger__line-first"></div>
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
    </div>
</header>
