.wrapper {
    width: 1280px;
    margin: 0px auto;
}

header {
    width: 100%;
    background: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    min-height: 48px;

    h2 {
        line-height: 48px;
        font-size: 16px;
        margin: 0px 0px 0px 20px;
        float: left;
    }

    ul {
        display: block;
        float: right;
        margin: 0px 0px;

        li {
            display: inline;
            float: left;
            margin: 0px 20px 0px 0px;
            line-height: 48px;

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }

    .hamburger {
        display: none;
    }
}

.bio {
    float: left;
    margin: 48px 40px 0px 0px;
    width: 380px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding:0px 20px;

    img {
        display: block;
        max-width: 240px;
        border-radius: 50%;
        margin: 0px 50px;
    }
}

section {
    width: 860px;
    float: left;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding:0px 20px;
    margin-top: 48px;

    img {
        display: block;
        max-width: 100%;
    }

    .tags {
        margin-bottom: 30px;
    }
}

footer {
    width: 100%;
    display: block;
    overflow: hidden;
    text-align: center;
    margin: 30px 0px;
    box-sizing: border-box;
    padding:0px 20px;
    float: left;
}
