<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ page.title | default: site.title }}</title>

        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta name="keywords" content="{% for tag in page.tags %}{{tag}} {% endfor %}" />
        <meta name="robots" content="index,follow" />
        <meta name="description" content="{{ page.description | default: site.description }} rob waller robdwaller" />
        <meta property="og:title" content="{{ page.title | default: site.title }}" />
        <meta property="og:description" content="{{ page.description | default: site.description }}" />
        <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
        <meta property="og:image" content="{{ page.image | default: site.github.owner_gravatar_url }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{{ site.twitter }}" />
        <meta name="twitter:title" content="{{ page.title | default: site.description }}" />
        <meta name="twitter:description" content="{{ page.description | default: site.description }}" />
        <meta name="twitter:image" content="{{ page.image | default: site.github.owner_gravatar_url }}" />
    </head>
    <body>
        <header>
            <h2>{{ site.page_title | default: site.github.repository_name }}</h2>
            <ul class="menu" id="menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog.html">Blog</a>
                </li>
                <li>
                    <a href="/about.html">About</a>
                </li>
            </ul>
            <div class="hamburger" id="hamburger">
                <div class="hamburger__line hamburger__line-first"></div>
                <div class="hamburger__line"></div>
                <div class="hamburger__line"></div>
            </div>
        </header>
        <div class="wrapper">
            <div class="bio">
                <h2>Bio</h2>

                {% if site.github.is_user_page %}
                    <img class="profile-pic" src="{{ site.github.owner_gravatar_url }}" alt="Rob Waller Profile Picture" />
                {% endif %}

                <p>{{ site.description | default: site.github.project_tagline }}</p>

                {% if site.github.is_project_page %}
                    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
                {% endif %}

                {% if site.github.is_user_page %}
                    <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
                {% endif %}
                <p>Tweet Me: <a href="https://twitter.com/RobDWaller" target="_blank">@RobDWaller</a></p>
            </div>
            <section>
                {{ content }}
            </section>
        </div>
        <footer>
            {% if site.github.is_project_page %}
            <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
            {% endif %}
            <small>Hosted on GitHub Pages &mdash; Theme extended from <a href="https://github.com/orderedlist">orderedlist</a></small>
            <small>All views expressed on this website are that of its author, they do not represent any other person or organisation.</small>
        </footer>
        <script src="/assets/js/app.js" type="text/javascript"></script>
    </body>
</html>
