---
layout: content
---
<h1>{{ page.title }}</h1>
<small><a href="/">Home</a> > <a href="/blog.html">Blogs</a> > {{ page.title }}</small>
<small>
    <span class="date">By: Rob Waller, {{ page.date | date: '%B %d, %Y' }}</span>
    <span class="tags">
        {% for tag in page.tags %}
            {% if forloop.last %}
                #{{ tag }}
            {% else %}
                #{{ tag }}
            {% endif %}
        {% endfor %}
    </span>
</small>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
<article class="post">
{{ content }}
</article>
{% if page.canonical %}
<small>Post originally appeared <a href="{{ page.canonical }}" target="_blank">here</a>.</small>
{% endif %}
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
